.quote_heading {
    font-size: 1.25rem;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.quote_text {
    color:#1565c0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    font-size:.8rem;
    text-align: left;
}

.quote_source {
    color:#1565c0;
    font-weight:bold;
    font-size:.8rem;
    font-style: italic;
    line-height: 2.5;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: left;
}
.article-tags {
    margin-top: 0.2rem;
}
/*
.random_quote {
    padding-left: 1rem;
    padding-right: 1rem;
}
*/

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

.footnote-ref {
    background-color: #dddddd;
    padding: 2px;
    border-radius: 20%;
}

.big-icon {
    font-size: 1.5rem;
}
